<?php

return [
	'mysql'	=>	[
		'host'		=>	'127.0.0.1',
		'user'		=>	'root',
		'password'	=>	'12345',
		'dbname'	=>	'test',
	],
	'pgsql'	=>	[
		'host'		=>	'127.0.0.1',
		'user'		=>	'sergli',
		'password'	=>	'12345',
		'dbname'	=>	'sergli',
	]
];
